.logout {
    color: red;
    font-size: 12px;
    
}

.headerCon {
    background-color: rgb(23, 183, 183);
    padding-bottom: 35px;
}

.welBack {
    color: azure;
    font-size: 18px;
    font-weight: 500;
}
.fundWallet {
    color: firebrick;
    font-weight: 600;
    text-indent: 0.125rem;
}


.myTransact {
    color: firebrick;
    font-weight: 600;
    text-indent: 0.125rem;
}